
  {% if message.Owner is same as client %}
  <div class= "msg-box-user">
  {% else %}
  <div class= "msg-box">
  {% endif %}
  <div class="msg-title">
    {{ message.Owner }} {{ message.CreatedAt ? message.CreatedAt|date('Y-m-d H:i') : '' }}
  </div>
  <div class= "msg-content">
    {{ message.Content }}
  </div>
  </div>

