{% extends 'base.html.twig' %}

{% block title %}Channel index{% endblock %}

{% block body %}
    <h1>Channel index</h1>
      <ul>
        {% for channel in channels %}
          <li>
            <a href="{{ path('app_channel_show', {'id': channel.id}) }}">{{ channel.Title }}</a>
          </li>
        {% else %}
            <li>no records found</li>
        {% endfor %}
      </ul>
    <a href="{{ path('app_channel_new') }}">Create new</a>
{% endblock %}
